* {
    margin: 0;
}

.filha1, .filha2, .filha3,
.filho1, .filho2 {
    width: 300px;
    height: 300px;
    background: lightgreen;
    margin: 10px;
    position: static;
}

.filha1{
    bottom: 50%;
    right: 50%;
    z-index: -1;
}
.filha2 {
    background: lightcoral;
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -50px;
}

.filha3 {
    background: lightskyblue;
    position: relative;
    top: -150px;
    left: 150px;
}

.filho1 {
    background: lightseagreen;
    box-sizing: border-box;
    padding: 5%;
}

.filho2 {
    background: lightsalmon;
    position: fixed;
    z-index: 1;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -50px;
}


ul {
    height: 80%;
    padding: 10%;
    overflow-y: auto;
}

ul li.lista {
    position: sticky;
    background: #126560;
    color: white;
    top: 0;
}